<div class="menu-box">
                            <h3 class="menu-items-title">ドリンク</h3>
                            <div class="menu-drink-lg-wrapper">
                                <div class="menu-drink-wrapper">
                                    <div class="menu-drink-img">
                                        <img src="{{ 'img_drink1.png' | asset_url }} " alt="" class="menu-drink">
                                    </div>
                                    <div class="menu-drink-wrapper">
                                        <ul class="menu-drink-list-wrapper">
                                            <li class="menu-drink-list">
                                                <h4 class="menu-drink-cat">コーヒー</h4>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">ブレンド</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">カフェラテ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">豆乳ラテ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">カフェモカ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">キャラメルラテ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">バニララテ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-drink-list">
                                                <h4 class="menu-drink-cat">紅茶</h4>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">ストレート</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">ミルク</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">アップル</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-drink-list">
                                                <h4 class="menu-drink-cat">ソフトドリンク</h4>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">バナナ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">オレンジ</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">アップル</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">マンゴー</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                                <ul class="menu-drink-sublist">
                                                    <li class="menu-drink-subitem">
                                                        <p class="menu-drink-name">ミックス</p>
                                                        <p class="menu-drink-price">500 yen</p>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-common-box">
                                <a href="#" class="btn03 pushright"><span>その他のメニュー</span></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>